.nav {
  height: 60px;
  background-color: #093687;  
}

.nav-logo {
  width: 79px;
  height: 19px;
  display: inline-block;
  margin-top: 21px;
}

.nav-logo a{
  background: url('https://cdn.upbit.com/upbit-web/images/logo_upbit_sub.f7f9753.svg');
  width: 74px;
  height: 17px;
  text-indent: -1000em;
  display: inline-block;
}

.nav-items {
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 140px;
  z-index: 1;
}

.nav-items .item .item__name {
  padding: 22px 20px;
  cursor: pointer;
  color: #A5AFCA99;
  text-decoration: none;
}

.nav-items .item .item__name.active {
  color: #FFFFFF;
}

.nav-items .item .item__contents {
  width: 100%;
  position: absolute;
  background-color: #1e2329  ;
  top: 64px;
  display: none;
}

.nav-items .item .item__contents > ul > li {
  padding: 36px 20px;
}

.nav-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.nav-btn .login {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 10px 0px;
  margin-right: 32px;
  background-color: transparent;
  border: none;
}

.nav-btn .login:hover {
  color: #f0b90b;
}

.nav-btn .sign {
  background-color: #fcd535;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  display: block;
  padding: 10px 24px;
  border-radius: 4px;
  transition: .4s;
  box-sizing: border-box;
  border: none;
}

.nav-btn .sign:hover {
  opacity: 0.8;
}